body{
    background-image: url(img/Fondo.webp);
    background-size: cover;
    text-align: center;
    padding-top: 250px;
}
a{
    text-decoration: none;
}
.enlace{
    color: green;
    font-family: "story script";
}
.texto{
    color: white;
    font-family: "roboto";
}