* {
    margin: 0 auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
/*header*/
.A {
    width: 1540px;
    height: 60px;
}
.caja1:hover{background-color: white;}
.caja1 {
    background-color: darkred;
}
.logo {
    margin-top: 20px;
    margin-left: 5px;
    float: left;
}
.B {
    width: 600px;
    height: 40px;
}
.menu {
    float: left;
    margin-left: 600px;
    color: black;
    padding: 6.25px;
}
.lista {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding-left: 10px;
}
.lista:active {
    background-color: black;
}
/*fotos*/
.T{
    width: 1540px;
    height: 262.5px;
    padding: 6.25px;
}
.titulo {
    margin-top: 20px;
    margin-left: 30px;
}
.siete{
    float: left;
    padding: 6.25px;
}
.tres{
    float: left;
    padding: 6.25px;
}
.nueve{
    float: left;
    padding: 6.25px;
}
.ocho{
    float: left;
    padding: 6.25px;
}
.cinco {
    float: left;
    padding: 6.25px;
}
/*2*/
.P{
    width: 1540px;
    height: 262.5px;
}
.diez{
    float: left;
    padding: 6.25px;
}
.dos{
    float: left;
    padding: 6.25px;
}
/*3*/
.L{
    width: 1540px;
    height: 262.5px;
}
.uno{
    float: left;
    padding: 6.25px;
}
.cuatro{
    float: left;
    padding: 6.25px;
}
.catorce{
    float: left;
    padding: 6.25px;
}
.seis{
    float: left;
    padding: 6.25px;
}
.actl{
    float: left;
    padding: 6.25px;
}
/*pie*/
footer {
    width: 1540px;
    height: 40px;
    background-color: darkred;
    text-align: center;
    color: white;
}