* {
    margin: 0 auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
/*header*/
.A {
    width: 1540px;
    height: 60px;
}
.caja1:hover{background-color: white;}
.caja1 {
    background-color: darkred;
}
.logo {
    margin-top: 20px;
    margin-left: 5px;
    float: left;
}
.B {
    width: 600px;
    height: 40px;
}
.menu {
    float: left;
    margin-left: 600px;
    color: black;
    padding: 6.25px;
}
.lista {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding-left: 10px;
}
.lista:active {
    background-color: black;
}
/*Biografia*/
.E {
    width: 1540px;
    height: 220px;
}
.bebe {
    background-color: white;
    margin-top: 60px;
}
.titulo {
    margin-top: 20px;
    margin-left: 30px;
}
.b {
    width: 200px;
    height: 220px;
    float: left;
}
.foto {
    padding-left: 400px;
}
.C {
    float: left;
    height: 110px;
    width: 600px;
}
.bb {
    background-color: white;
    margin-left: 100px;
    margin-top: 50px;
}
/*2*/
.bio2 {
    width: 1540px;
    height: 220px;
    background-color: darkred;
    margin-top: 60px;
}
.D {
    width: 200px;
    height: 220px;
    float: left;
}
.footo {
    padding-left: 100px;
}
.F {
    width: 700px;
    height: 110px;
}
.Texto {
    background-color: darkred;
    padding-top: 40px;
    padding-left: 400px;
    color: white;
}
/*3*/
.bio3 {
    width: 1540px;
    height: 220px;
    background-color: white;
    margin-top: 60px;
}
.G {
    width: 700px;
    height: 110px;
    float: left;
}
.texto {
    margin-left: 100px;
    margin-top: 50px;
}
.H {
    width: 200px;
    height: 220px;
    float: left;
}
.fotoo {
    padding-left: 320px;
}
/*pie*/
footer {
    width: 1540px;
    height: 40px;
    background-color: darkred;
    text-align: center;
    color: white;
}