*{
    background-image: url(img/fondo.jpg);
    text-align: center;
    margin: 20px;
    padding: 0;
    color: white;
    font-family:cursive;
}
#trabajos{
    list-style: none;
}
div{
    border-style: solid;
    border-width: 2px;
    border-color: palevioletred;
}
li{
    font-size: 25px;
}
a:hover{color: hotpink;}