* {
    margin: 0 auto;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
    'Helvetica Neue', sans-serif;
}
/*header*/
.A {
    width: 1540px;
    height: 60px;
}
.caja1:hover{background-color: white;}
.caja1 {
    background-color: darkred;
}
.logo {
    margin-top: 20px;
    margin-left: 5px;
    float: left;
}
.B {
    width: 600px;
    height: 40px;
}
.menu {
    float: left;
    margin-left: 600px;
    color: black;
    padding: 6.25px;
}
.lista {
    display: inline;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    padding-left: 10px;
}
.lista:active {
    background-color: black;
}
/*contenido*/
.E {
    width: 1540px;
    height: 700px;
}

.tituloI {
    margin-top: 20px;
    margin-left: 30px;
}
.C {
    width: 300px;
    height: 75px;
    float: left;
}
.texto { 

    margin-top: 300px;
    margin-left: 150px;

}
#anl {
    color: red;
}
.D {
    width: 550px;
    height: 600px;
    float: left;
}
.foto {
    background-color: brown;
    margin-left: 400px;
}
/*pie*/
footer {
    width: 1540px;
    height: 40px;
    background-color: darkred;
    text-align: center;
    color: white;
}
