*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 1200px;
    padding: 0px;
}
header{
    background-color: blueviolet;
    height: 180px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo{
    background-color: orangered;
    width: 600px;
    height: 180px;
    float: left;
}
.logo1{
    width: 250px;
}
.logo1:hover{
    background-color: beige;
}
ul{
    background-color: yellow;
    width: 600px;
    height: 90px;
    float: left;
    padding-top: 90px;
}
li{
    display: inline;
    padding-left: 95px;
    font-size: 20px;
}
.lista:link{
    color: brown;
}
.lista:hover{
    color: black;
}

main{
    background-color: lime;
    height: 600px;
}
video{
    width: 600px;
    height: 600px;
    float: left;
}
h2{
    font-size: 25px;
    background-color: beige;
    width: 600px;
    height: 350px;
    float: left;
    text-align: center;
    padding-top: 250px;
}
span{
    color: brown;
}
article{
    border: 2px black solid;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 70px;
    font-size: 20px;
}
.ideas{
    background-color: coral;
    height: 280px;
    margin-bottom: 10px;
}
.banner{
    width: 500px;
    float: left;
}
.banner1{
    width: 500px;
    float: right;
}
