*{
    box-sizing: border-box;
}
body{
    background-color: #dacdb1;
}
nav{
    background-color: #344C3D;
    filter: opacity(75%);
    margin-top: 4vh;
    width: 100vw;
}
ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 80vw;
    padding: 0.25vw;
    margin: auto;
}
nav ul li a{
    text-decoration: none;
}
h6{
    color: white;
    font-size: medium;
    font-family: "hoss-round-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

section{
    width: 100vw;
    display: flex;
    justify-content: space-around;
}
section ul li{
    flex-direction: column;
    text-align: center;
}

article{
    width: 100vw;
    display: flex;
    background-color: #C7A78A;
    justify-content: space-around;
}
article ul li{
    flex-direction: row;
    text-align: center;
}

p{
    font-family: "hoss-round-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #ab8059;
}
h2{
    font-family: "hoss-round-narrow", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    color: #ab8059;
}
h1{
    font-family: "hoss-round-narrow", sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    color: white;
}

div{
    width: 100vw;
    justify-content: space-around;
}
div ul li{
    width: 25vw;
    flex-direction: column;
    text-align: center;
}
.pad{
    padding-top: 6vh;
}
.especialidades{
    color: #ab8059;
}
img:hover{
    filter: contrast(50%);
}

footer{
    width: 100vw;
    background-color: #8ea58c;
    text-align: center;
    padding: 1vw;
    margin-top: 2vh;
}
footer p{
    color: black;
    font-family: "hoss-round-narrow", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (orientation: portrait){
    ul{
        flex-wrap: wrap;
    }
    img{
        width: 100px;
    }
    img:hover{
        transform: scale(1.5 , 1.5);
    }
}