body{
    display: grid;
    grid-template-columns: 15% 55% 30%;
    grid-template-areas: "header header header" "aside article main" "section section nav" "footer footer footer";
}
header{
    grid-area: header;
    border: solid 0.15vw green;
    text-align: center;
}
h1{
    color: blue;
}

aside{
    grid-area: aside;
    border: solid 0.15vw red;
}
aside div{
    border: solid 0.15vw red;
    padding: 0.5vw;
    margin: 0.5vw;
    margin-top: 2vw;
    text-align: center;
}

article{
    grid-area: article;
    border: solid 0.15vw purple;
    padding: 5vw;
}

main{
    grid-area: main;
    border: solid 0.15vw blue;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    text-align: center;
}
main div{
    margin: 0.5vw;
}

section{
    grid-area: section;
    background-color: yellow;
    padding: 1vw;
}
section a img{
    width: 100%;
}

nav{
    grid-area: nav;
    border: solid 0.15vw pink;
    padding-top: 15vw;
}
nav div{
    border: solid 0.15vw pink;
    margin: 0.5vw;
    padding: 0.5vw;
}

footer{
    grid-area: footer;
    border: solid 0.15vw brown;
    background-color: lightpink;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    margin-top: 5vw;
}
footer div{
    border: solid 0.15vw brown;
    padding: 2vw;
    background-color: linen;
    margin: 1vw;
}
.div1{
    grid-column: 1/3;
}
.div2{
    grid-row: 2/4;
    background-color: coral;
}
.div3{
    background-color: lightsalmon;
}