*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 90%;
    height: 300px;
    overflow: hidden;
    margin: auto;
    align-items: center;
    justify-content: center;
    background-image: url('img/Fondo.jpg');
    margin-top: 70px;
}
.titulo{
  
    color: black;
    text-align: center;
    margin-top: 100px;
    font-size: 50px;
    font-family: Ballet;
}
.texto{ 
    display: flex;
    width: 70%;
    height: 250px;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
    margin-left: 225px;
    margin-top: 50px;
    font-family:sans-serif;
}
.contenedor div{
    border-style: solid;
    border-width: 4px;
    border-color: blue;
    padding-left: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-top: 25px;
    margin-top: 18px;
    margin-left: 18px;
    margin-right: 18px;
    height: 600px;

}
.contenedor{
    padding: 10px;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    text-align: center;
}
img{
    width: 400px;
}
h2{
    font-family: Ballet;
    padding-top: 50px;
}
.contenedor div:hover{
    box-shadow: 15px 15px 10px yellow;
    border-color: yellow;
}
h2:hover{
    color: orange;
}