.contenedor{
    background-color: gray;
    width: 80vw;
    height: 70vh;
    margin: auto;
}
.cuadro1{
    background-color: palevioletred;
    width: 60vw;
    height: 30vh;
}
.cuadro2{
    background-color: green;
    width: 30vw;
    height: 30vh;
}
footer{
    background-color: darkred;
    width: 80vw;
    height: 10vh;
}