*{
  margin: 20px;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
}

h4{
  color: lightpink;
}

h2{
  color:hotpink
}
p{
  color:hotpink
}

body{
  background-color:lightcyan ;
}

img{
  width: 200px;
  filter: blur(5px);
}

img:hover{filter: blur(0);}

figcaption{
  width: 200px;
  height: 200px;
  overflow: hidden;
}

section{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}